@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Lato:wght@300&family=Satisfy&display=swap');
:root{
     --primary-color: #1E40AF;
     --dark-gray: #6B7280;
     --offwhite: #F3F4F6;

}
body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}
.name{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    text-align: left;
    color: var(--primary-color);
    font-weight: lighter;
}
h2{
    font-weight: bold;
}
hr{
    margin: 2rem 0rem;
}

.container{
    padding-left: 10px;
    padding-right: 10px ;
}

.container-center{
    max-width: 400px;
    margin: auto;
    
}


.link{
   text-decoration: none;
   padding: 0.5rem 1rem;
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    padding: 5px 5px;
    border: 2px solid black;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    padding: 5px 5px;
}

.button{
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    display:inline-flexbox;
    font-size: 16px;
}
.list-non-bullet{
     list-style: none;
 }

 .list-item-inline{
     display: inline;
     padding: 10px;
     padding-left: 10px;
 }
 .abc{
     padding-left: 10px;
     list-style: none;
 }

 .navigation{
     background-color: var(--primary-color);
     color: white;
     padding-bottom: 2px;
     padding-top: 2px;
     border-bottom-left-radius: 7px;
     border-top-right-radius: 7px;
 }

 .link{
     color: red;
     list-style: inline;
     font-weight: lighter;
 }

 .navigation .nav-pills{
     text-align: right;
 }

 .navigation .nav-brand{
     font-weight: bold;
     font-size: 25px;
 }

 .navigation .link-active{
     font-weight: bold;
 }

 .hero{
     padding: 3px;
 }

 .hero .hero-img{
     max-width: 350px;
     display: block;
     margin: auto;
 }
.hero .hero-heading{
    font-size: 2rem;
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}

.section{
    padding: 2rem;
}
.section h3{
text-align: center;
padding: 2rem;
}
.ow{
     background-color: var(--offwhite);
 }

 .footer{
     background-color: var(--primary-color);
     padding:2rem 1rem ;
     text-align: center;
     color: white;
     border-top-left-radius: 1rem;
     border-bottom-right-radius: 1rem;
 }

 .footer .link{
     color: white;
 }
 .footer ul{
    padding-inline-start:0px;
 }